:root {
  --_colors---background: #fffcea;
  --_colors---blue: #30f;
  --_colors---black: black;
  --_colors---purple: #c9aae0;
  --_colors---red: #eb5640;
  --_colors---green: #d7f57a;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

img {
  box-sizing: border-box;
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  padding: 11px;
  display: inline-block;
}

.quick-stack {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  aspect-ratio: 1;
  color: #0400fd;
  background-color: #0d00ff;
  border-radius: 0;
  width: 80vw;
  max-width: 80.8076%;
  height: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

.cell {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fffcea;
  border-radius: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  display: flex;
}

.cell:hover {
  opacity: 1;
  pointer-events: auto;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: #fffcea;
  background-clip: border-box;
}

.outer-container {
  background-color: #fffcea;
  min-width: 99vw;
  max-width: 1400px;
  min-height: 99vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.heading-2 {
  text-transform: uppercase;
  margin-top: 87px;
  margin-bottom: 101px;
  padding-left: 48px;
  padding-right: 26vw;
  font-family: Roboto, sans-serif;
  font-size: 4svw;
  font-weight: 400;
  line-height: 5svw;
}

.div-block-2 {
  color: #140cfc;
  justify-content: center;
  align-items: center;
  min-height: 20vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-project-page {
  border: 2px solid #0800ff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 35vw;
  display: flex;
}

.quick-stack-2 {
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 70px 10px 10px;
}

.heading-3 {
  outline-offset: 0px;
  color: #140cfc;
  text-transform: uppercase;
  outline: 3px #004d9c;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.paragraph {
  margin-top: 26px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 1vw;
  line-height: 25px;
}

.div-block-3 {
  background-color: #140cfc;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 30vw;
  height: 2px;
  max-height: 2px;
  display: block;
}

._2pichoverblank {
  z-index: auto;
  aspect-ratio: 4 / 4;
  width: 30%;
  height: auto;
  margin-top: -53px;
  margin-bottom: -53px;
  position: absolute;
  overflow: hidden;
}

._2pichoverblank.background {
  background-image: url('../images/1_3_11zon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

._2pichoverblank.swissbig {
  background-image: url('../images/IMG_5767.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

._1backblankwithanimation {
  aspect-ratio: 1;
  object-fit: fill;
  width: 60%;
  height: 90%;
  position: relative;
}

._1backblankwithanimation.lihipic {
  background-image: url('../images/lihiNoBack.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

._1backblankwithanimation.swiss-back {
  object-fit: fill;
  background-image: url('../images/IMG_5755small.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

.button {
  aspect-ratio: 1;
  object-fit: fill;
  background-color: #3898ec00;
  display: block;
  position: relative;
}

.link-block {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.spline-scene {
  cursor: grab;
}

.trak {
  color: #140cfc;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 75vh;
  font-family: Roboto, sans-serif;
  display: flex;
  position: static;
  inset: auto 0% 0%;
  overflow: hidden;
}

.camera {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fffcea;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  display: block;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.horizontal-scroll {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  flex-flow: row;
  flex: none;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  height: 60vh;
  display: block;
  position: relative;
  overflow: visible;
}

.item {
  flex: 0 auto;
  justify-content: center;
  align-self: auto;
  align-items: flex-start;
  width: auto;
  height: 75vh;
  display: block;
  overflow: visible;
}

.item.swiss {
  flex: 0 auto;
  width: auto;
  height: 60vh;
  overflow: visible;
}

.item.swiss.homonovus {
  aspect-ratio: 1;
  object-fit: contain;
  flex: 0 auto;
  width: 89vh;
  height: 61vh;
}

.item.swiss.homonovus._1 {
  aspect-ratio: 1;
  object-fit: cover;
  width: 61vh;
}

.item.swiss.show-hide {
  z-index: 100;
  background-color: #ffffffc2;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  margin-left: auto;
  display: flex;
  position: absolute;
  top: 0;
}

.body-2 {
  color: #140cfc;
  background-color: #fffcea;
  font-family: Roboto, sans-serif;
  display: block;
  overflow: visible;
}

.image-2 {
  aspect-ratio: auto;
  object-fit: cover;
  height: 100%;
  font-size: 100vw;
  overflow: clip;
}

.h {
  display: inline;
}

.hey-there {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 17vw;
  margin: 0 auto;
  font-size: 23vh;
  font-weight: 400;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
  overflow: hidden;
}

.hey-there.movewithf {
  justify-content: flex-start;
  align-items: center;
  margin-right: 23vw;
  inset: auto auto 0% 0%;
}

.hey-there.movewithf.heyhey {
  padding-left: 15vw;
  font-size: 40vh;
}

.hey-there.movewithf.sq {
  justify-content: flex-start;
  align-items: center;
  margin-left: -5vw;
  font-size: 40vh;
  overflow: visible;
}

.hey-there.welcom {
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;
  width: 160vw;
  padding-left: 0;
  font-size: 40vh;
  display: flex;
  position: absolute;
  inset: auto -100vw 0% auto;
}

.hey-there.tomy {
  text-transform: uppercase;
  margin-left: 200vw;
  font-size: 40vh;
  right: -300vw;
  overflow: visible;
}

.hey-there.tomy.colorful {
  margin-left: 300vw;
}

.hey-there.color {
  margin-left: 250vw;
  font-size: 7vh;
  line-height: 50px;
}

.text-span-2 {
  color: #0400ff;
  text-align: left;
  text-transform: none;
  text-underline-offset: 6px;
  width: auto;
  margin-right: 20vw;
  padding-left: 0;
  font-size: 2.5rem;
  font-weight: 400;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-decoration-thickness: calc(1em / 20);
}

.square {
  margin-bottom: -7px;
  font-size: 54vh;
}

.welcom {
  position: absolute;
  inset: auto 0% 0% 105vw;
}

.welcom.hey-there {
  left: 0;
}

.body-3 {
  background-color: #eeede4;
  font-family: Roboto, sans-serif;
  font-size: 30px;
}

.section-5 {
  background-color: #3c06ec;
  border-radius: 20px;
  width: 82vw;
  height: 40vh;
  margin-top: 2vh;
  margin-left: 17vw;
}

.section-5.aboutsection {
  background-color: #d7f57a;
  height: 70vh;
  overflow: hidden;
}

.section-5.aboutsection.hedline {
  justify-content: center;
  align-items: center;
  height: 15vh;
  display: flex;
}

.section-5.aboutsection.hedline.education {
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-5.aboutsection.hedline.education.work {
  border: 2px solid var(--_colors---blue);
  background-color: #4f4f4f00;
  width: 98%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  position: static;
}

.section-5.aboutsection.hedline.education.work.info {
  text-align: center;
  background-color: #30f0;
  border: 2px solid #30f;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 29px;
  padding-right: 37px;
  font-weight: 400;
  display: flex;
}

.section-5.aboutsection.hedline.education.work.info.back {
  background-color: #eb564000;
  border-width: 0;
  border-radius: 0;
  width: 13vw;
}

.section-5.aboutsection.hedline.education.work.info.name {
  background-color: var(--_colors---blue);
  justify-content: center;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  overflow: hidden;
}

.section-5.aboutsection.hedline.education.work.info.name.mobile {
  display: none;
}

.section-5.aboutsection.hedline.education.work.info.errow {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  border-color: var(--_colors---blue);
  background-color: var(--_colors---background);
  color: var(--_colors---black);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 9vh;
  margin-right: 0;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 300%;
  font-weight: 300;
  text-decoration: none;
  display: flex;
  overflow: visible;
}

.section-5.aboutsection.hedline.education.work.info.errow:hover {
  border-color: var(--_colors---purple);
  background-color: var(--_colors---purple);
  color: var(--_colors---background);
}

.section-5.aboutsection.hedline.education.work.info.errow.m {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  border-color: var(--_colors---blue);
  width: 65%;
  padding: 13px 1vw;
}

.section-5.aboutsection.hedline.education.work.info.errow.m:hover {
  background-color: var(--_colors---red);
  border-width: 0;
}

.section-5.aboutsection.hedline.education.work.info.errow.m.x {
  background-color: var(--_colors---green);
  border-width: 0;
}

.section-5.aboutsection.hedline.education.work.info.errow.h {
  border-color: var(--_colors---background);
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-5.aboutsection.hedline.education.work.info.morework {
  background-color: var(--_colors---background);
  color: var(--_colors---blue);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 99.9999%;
  height: 7vh;
  padding: 8px;
  font-family: Roboto, sans-serif;
  font-size: 100%;
}

.section-5.aboutsection.hedline.education.work.info.morework:hover {
  background-color: var(--_colors---green);
  color: var(--_colors---background);
  border-width: 0;
}

.section-5.aboutsection.hedline.education.work.info.morework.about {
  border-color: var(--_colors---green);
  border-radius: 11px;
  height: 6vh;
}

.section-5.aboutsection.hedline.education.work.info.morework.hey {
  border-color: var(--_colors---blue);
  border-radius: 8px;
  height: 4vh;
  margin-top: 0;
}

.section-5.aboutsection.hedline.education.work.info.morework.works {
  border-color: var(--_colors---red);
  border-radius: 10px;
  height: 8vh;
  margin-top: -1vh;
}

.section-5.aboutsection.hedline.education.work.info.morework.contact {
  border-color: var(--_colors---purple);
  border-radius: 8px;
  height: 5vh;
  margin-top: -2vh;
  padding-top: 0;
  padding-bottom: 0;
}

.section-5.aboutsection.hedline.about-head-line {
  background-color: #d7f57a;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
  padding-left: 15px;
  padding-right: 17px;
  display: flex;
}

.section-5.aboutsection.hedline.about-head-line.hello {
  color: #f0efe7;
  background-color: #3d06ec;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 13px;
}

.section-5.aboutsection.hedline.about-head-line.works {
  background-color: #eb5641;
}

.section-5.aboutsection.hedline.about-head-line.talk-to-me {
  background-color: #c9aae0;
}

.section-5.aboutsection.text {
  background-color: #d7f57a00;
  border: 2px solid #30f;
  height: auto;
  padding: 23px;
}

.section-5.aboutsection.twin {
  grid-column-gap: 0vw;
  grid-row-gap: 0vw;
  background-color: #d7f57a00;
  border-radius: 0;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  display: flex;
}

.section-5.workssection {
  cursor: pointer;
  background-color: #eb5640;
  height: 25vh;
}

.section-5.workssection:hover {
  position: static;
}

.section-5.workssection.homonovus:hover {
  background-color: #934f4e;
  background-image: url('../images/1_3_11zon.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-5.workssection._1 {
  z-index: 200;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  height: 25vh;
  margin-top: 0;
  margin-left: 0;
  padding-left: 40px;
  font-family: Roboto, sans-serif;
  display: flex;
  position: static;
}

.section-5.workssection._3 {
  background-image: url('../images/IMG_5767-3.jpg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 21vh;
  margin-top: 0;
  margin-left: 0;
  overflow: visible;
}

.section-5.workssection._3.beta {
  background-image: url('../images/manySuts.jpg');
  background-position: 100%;
  background-size: contain;
}

.section-5.workssection._3.collected {
  background-image: url('../images/10.5x.png');
  background-position: 100%;
  background-repeat: repeat;
  background-size: contain;
}

.section-5.workssection._3.collected.hagais {
  background-image: url('../images/middle.jpg');
}

.section-5.workssection._3.homonovus {
  background-image: url('../images/pgOriShemer3.jpg');
  background-position: 100%;
}

.section-5.workssection._3.emotiontype {
  background-image: url('../images/Screen-Shot-2024-08-20-at-14.56.40.png');
  background-position: 100%;
  background-size: contain;
}

.section-5.workssection._3.pendelum {
  background-image: url('../images/IMG_5767-3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.section-5.workssection._3.canvas {
  background-image: url('../images/8.png');
}

.section-5.workssection._2 {
  background-image: url('../images/Screen-Shot-2024-08-20-at-15.14.11-copy.png');
  background-position: 100%;
  background-size: contain;
  height: 23vh;
  margin-top: 0;
  margin-left: 0;
  position: static;
}

.section-5.workssection._2.beta {
  background-image: url('../images/blabla.jpg');
  background-size: auto 130%;
}

.section-5.workssection._2.pendulum {
  background-image: url('../images/down.jpg');
}

.section-5.workssection._2.swiss {
  background-image: url('../images/IMG_5767-2.jpg');
  background-position: 100%;
  background-size: contain;
}

.section-5.workssection._2.homonovus {
  background-image: url('../images/3_1_11zon.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-5.workssection._2.emotiontype {
  background-image: url('../images/Screen-Shot-2024-08-20-at-15.01.02.png');
  background-position: 100%;
  background-size: contain;
}

.section-5.workssection._2.collected {
  background-image: url('../images/50.75x0.5x.png');
}

.section-5.workssection._4 {
  background-color: #eb564000;
  height: 25vh;
}

.section-5.contact {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #c9aae0;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  padding: 39px;
  display: flex;
}

.section-5.vie {
  background-color: #4305ef;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.section-5.vie.whiteb {
  background-color: #4305ef00;
  border: 2px solid #4305ef;
  justify-content: center;
  align-items: center;
}

.section-5.opening {
  background-color: #3c06ec00;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  display: flex;
}

.nav-link {
  z-index: 1;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  background-image: radial-gradient(circle closest-side, #3c00ff, #f0efe7);
  border: 0 #5604f8;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  margin-left: 1vw;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
}

.nav-link:hover {
  color: #000;
  background-image: none;
}

.nav-link.about {
  color: #fff;
  background-image: url('../images/yellowBall.png'), radial-gradient(circle closest-side, #3c00ff, #f0efe700);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
  height: 15vw;
  margin-top: 9px;
  margin-left: 2vw;
}

.nav-link.about:hover {
  background-image: none;
}

.nav-link.about.hello {
  background-image: url('../images/blueBall.png');
  background-position: 0 0;
  background-size: contain;
  margin-top: 104px;
  margin-left: 10vw;
  padding-left: 0;
}

.nav-link.about.hello:hover {
  color: #000;
  background-image: none;
}

.nav-link.about.hello.work {
  z-index: 100;
  background-image: url('../images/purpleBall.png');
  background-position: 0 0;
  background-size: contain;
  margin-left: -1vw;
}

.nav-link.about.hello.work:hover {
  background-image: none;
}

.nav-link.about.yellow {
  background-image: url('../images/yellowBall.png');
  background-position: 50%;
  background-size: contain;
  margin-top: -39px;
}

.nav-link.about.yellow:hover {
  color: #000;
  background-image: none;
}

.nav-link.about.work {
  background-image: url('../images/purpleBall.png');
  background-position: 50%;
  background-size: contain;
  margin-top: 12px;
  margin-left: -1vw;
}

.nav-link.about.work:hover {
  color: #000;
  background-image: none;
}

.nav-link.works {
  color: #fff;
  background-image: url('../images/purpleBall.png'), radial-gradient(circle closest-side, #b8ade1, #fff0);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
  height: 20vh;
  margin-top: 7px;
  margin-left: 0;
}

.nav-link.works:hover {
  color: #000;
  background-image: none;
}

.nav-link.works:focus, .nav-link.works:focus-visible, .nav-link.works[data-wf-focus-visible] {
  color: #fff;
}

.nav-link.works.w--current {
  background-image: url('../images/purpleBall.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-link.works.w--current:hover {
  color: #000;
  background-image: none;
}

.nav-link.contact {
  background-image: url('../images/purpuleBall.png'), radial-gradient(circle closest-side at 50% 50%, var(--_colors---purple), #8b787800);
  background-position: 0 0, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
  margin-top: -57px;
}

.nav-link.contact:hover {
  color: #000;
  background-image: none;
}

.nav-link.contact.hello {
  background-image: url('../images/blueBall.png');
  background-position: 50%;
  background-size: contain;
  margin-top: 18px;
  margin-left: -1vw;
}

.nav-link.contact.hello:hover {
  background-image: none;
}

.nav-link.hello {
  color: #000;
  text-align: center;
  background-image: none;
  width: auto;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2vw;
  line-height: 30px;
}

.nav-link.hello:hover {
  color: #eeede4;
  background-image: none;
}

.nav-link.hello.w--current {
  background-image: none;
  border-width: 4px;
  border-color: #000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding: 0;
  line-height: 30px;
}

.nav-link.hello.contact {
  background-image: none;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
}

.nav-menu-2 {
  z-index: -100;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f0efe700;
  width: 14vw;
  height: 100vh;
  display: block;
  overflow: visible;
}

.navbar-2 {
  z-index: 10;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #ddd0;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 16vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
}

.text-block-2 {
  box-sizing: border-box;
  color: #30f;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  font-size: 100px;
  line-height: 40px;
  display: flex;
}

.text-block-2.white {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #eeede4;
  text-align: left;
  text-transform: uppercase;
  text-underline-offset: 6px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--_colors---background);
  text-decoration-color: var(--_colors---background);
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
  vertical-align: text-top;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: 2.5rem;
  line-height: 140%;
  text-decoration-thickness: calc(1em / 20);
  display: flex;
}

.text-block-2.work {
  color: #fff;
  text-align: left;
  font-size: 30px;
}

.text-block-2.work.description {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  position: static;
  inset: 0% 0% auto auto;
}

.text-block-2.about {
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-family: Roboto, sans-serif;
  font-size: 4vh;
  font-weight: 400;
  line-height: 7vh;
}

.text-block-2.about.nums {
  border: 2px solid #30f;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 3vh;
  padding-top: 0;
  font-size: 2vh;
}

.text-block-2.about.twin {
  text-transform: none;
  margin-left: 0;
  font-size: 3vh;
}

.text-block-2.about.twin.years {
  font-size: 2vh;
}

.text-block-2.about.twin._2 {
  font-size: 2.7vh;
}

.text-block-2.about.text {
  text-transform: none;
  font-size: 3vh;
  line-height: 5vh;
}

.text-block-2.about.text.work-description {
  color: var(--_colors---black);
  text-align: left;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: auto;
  padding-top: 0;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 110%;
  line-height: 3vh;
}

.text-block-2.about.text.work-description.below {
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
}

.text-block-2.about.text.work-description.process {
  color: var(--_colors---black);
  height: auto;
  margin-bottom: 2vh;
  padding-top: 3vh;
  padding-left: 0%;
  padding-right: 0%;
  text-decoration: none;
}

.text-block-2.about.text.work-description.process.headline {
  color: var(--_colors---black);
  width: auto;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0%;
  padding-right: 0%;
  font-family: Roboto, sans-serif;
  font-size: 150%;
  font-weight: 400;
}

.text-block-2.about.text.work-description.process.swiss {
  padding-left: 5%;
}

.text-block-2.about.text.work-description.pend {
  font-size: 1.5vw;
}

.text-block-2.about.headline {
  filter: blur();
  color: #30f;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 2vh;
  text-decoration: none;
  position: static;
  inset: 143% 0% 0%;
}

.text-block-2.about.headline.hello {
  color: #edece3;
}

.text-block-2.about.workdata {
  color: var(--_colors---black);
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 30px;
  line-height: 100%;
}

.text-block-2.about.workdata.white {
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
}

.text-block-2.about.workdata.headline {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.text-block-2.about.location-and-more {
  padding-left: 5px;
  font-size: 3vh;
}

.text-block-2.about.x {
  padding-left: 11px;
}

.text-block-2.hello {
  color: #f0efe7;
  text-transform: uppercase;
  padding-top: 0;
  font-size: 15px;
}

.text-block-2.opening {
  color: #000;
  border: 2px solid #000;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 15vh;
  margin-top: 0;
  margin-left: 0;
  padding: 2vh 56px;
  font-family: Roboto, sans-serif;
  font-size: 5vw;
  font-weight: 400;
  display: flex;
}

.text-block-2.opening:hover {
  color: #f0efe7;
  background-color: #3d06ec;
}

.text-block-2.opening:active {
  background-color: #3e06eb;
}

.text-block-2.opening.space {
  color: #f0efe700;
  width: auto;
}

.text-block-2.opening.space.red {
  color: #f0efe700;
}

.text-block-2.opening.space.red:hover {
  background-color: var(--_colors---green);
}

.text-block-2.opening.space.purple {
  background-color: var(--_colors---purple);
}

.text-block-2.opening.space.purple:hover {
  background-color: var(--_colors---green);
}

.text-block-2.opening.blue {
  color: #000;
  background-color: #3d06ec;
  padding-left: 62px;
  padding-right: 62px;
}

.text-block-2.opening.blue:hover {
  background-color: #eb5641;
}

.text-block-2.opening.red {
  background-color: var(--_colors---red);
}

.text-block-2.opening.green {
  background-color: var(--_colors---green);
  width: 10%;
}

.text-block-2.opening.green:hover {
  background-color: var(--_colors---purple);
}

.text-block-2.opening.no-outling {
  border-width: 0;
}

.text-block-2.opening.hello {
  width: auto;
  padding-left: 49px;
  padding-right: 52px;
}

.text-block-2.opening.coma {
  width: 10%;
}

.text-block-2.opening.and {
  width: auto;
  font-size: 5vw;
  font-weight: 400;
}

.text-block-2.opening.and.my {
  padding: 47px;
}

.navbar-3 {
  display: none;
}

.div-block-5 {
  background-color: #f0efe7;
}

.container-5 {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: visible;
}

.container-7 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
}

.div-block-9 {
  aspect-ratio: auto;
  object-fit: contain;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.div-block-9._1 {
  background-color: #f000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.background-video-3 {
  z-index: 100;
  object-fit: contain;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.div-block-12 {
  color: #0400ff;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 70%;
  text-decoration: none;
  display: flex;
}

.link {
  color: #0400ff;
  padding-left: 19px;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  color: #fff;
}

.button-3 {
  color: #0400ff;
  object-fit: contain;
  background-color: #3898ec00;
  border: 2px solid #0400ff;
  border-radius: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 13px;
  font-size: 1.4vw;
  text-decoration: none;
}

.button-3:hover {
  color: #fff;
  -webkit-text-stroke-color: #0400ff;
  background-color: #0400ff00;
  border-color: #fafafa;
}

.div-block-13 {
  width: 100%;
  height: 2vh;
}

.image-7 {
  width: 1vw;
}

.body-4 {
  background-color: #fffcea;
  height: 100vh;
}

.twin-section {
  border: 2px solid #30f;
  border-radius: 20px;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 100%;
  padding: 0;
  display: flex;
}

.container-16 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 70vh;
  margin-left: 0;
  padding-top: 6vh;
  display: flex;
  overflow: visible;
}

.container-17 {
  z-index: 100;
  background-color: #fffcea;
  flex-flow: column;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  width: 30vw;
  height: 60vh;
  display: flex;
  position: relative;
}

.section-16 {
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 9vh;
  margin-top: 2vh;
  display: flex;
}

.section-16.data {
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 0;
}

.image-10 {
  width: 60%;
  padding: 0;
  display: block;
  transform: rotate(0);
}

.button-4 {
  background-color: #fffcea;
  background-image: url('../images/errow.png');
  background-position: 50%;
  background-size: cover;
}

.image-11 {
  object-fit: contain;
  width: auto;
  height: 100%;
  display: block;
}

.image-11.homonovus {
  aspect-ratio: 3 / 2;
  object-fit: contain;
  width: 100%;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  overflow: visible;
}

.image-11.homonovus.pattern {
  aspect-ratio: 3 / 2;
  object-fit: contain;
  height: 97%;
  padding: 8px 0 4px;
}

.body-5 {
  background-color: var(--_colors---background);
}

.body-5.hagai {
  background-image: linear-gradient(#fffcea80, #fffcea80), url('../images/IMG_1240small0.3x.png');
  background-position: 0 0, 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
}

.link-block-2 {
  cursor: pointer;
  width: auto;
  text-decoration: none;
}

.div-block-14 {
  width: 15vh;
  height: 8vw;
}

.section-17 {
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 50vw;
  display: flex;
}

.link-block-3 {
  width: 100%;
  font-weight: 200;
  text-decoration: none;
}

.link-block-3.w--current {
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
}

.div-block-15 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  display: flex;
}

.div-block-16 {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 7vh;
  margin-top: -14px;
  margin-right: 28px;
  display: flex;
}

.navbar-4 {
  background-color: #f0efe7;
  width: 17vw;
  height: 100vh;
  display: flex;
  position: fixed;
}

.menu-button {
  display: block;
}

.lightbox-link {
  object-fit: contain;
  width: auto;
  height: 100%;
}

.hs-item {
  box-sizing: border-box;
  aspect-ratio: auto;
  width: 40vw;
  height: 100%;
  padding: 0;
}

.hs-item.homonovus {
  width: auto;
}

.hs-item.beta {
  object-fit: contain;
}

.hs-item.beta.long {
  width: auto;
  height: 100%;
}

.section-18 {
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-bottom: 10vh;
  display: flex;
  position: static;
  inset: 0%;
}

.section-20 {
  z-index: -1;
  background-image: url('../images/2_1.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  position: absolute;
  inset: 0%;
}

.slider {
  background-color: #ddd0;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: visible;
}

.mask {
  flex: 0 auto;
  width: 22%;
  overflow: visible;
}

.slide-3 {
  width: 70%;
}

.mask-2 {
  overflow: visible;
}

.slider-2 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.moving-errows {
  border: 2px solid var(--_colors---blue);
  background-color: var(--_colors---background);
  color: var(--_colors---black);
  cursor: pointer;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  display: flex;
}

.moving-errows:hover {
  background-color: var(--_colors---blue);
  color: #fffcea;
}

.errowtext {
  font-size: 25px;
  font-weight: 400;
}

.left_errow {
  width: 70%;
  transform: rotate(-45deg);
}

.right_errow {
  width: 70%;
  transform: rotate(135deg);
}

.container-18 {
  z-index: 100;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-right: 15vw;
  padding-top: 0;
  display: flex;
  position: absolute;
  top: 67.1vh;
  left: auto;
  right: -9%;
}

.container-18.swiss {
  top: 83vh;
}

.container-18.homo {
  top: 81.9vh;
}

.just-errow {
  text-align: center;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 300%;
  font-weight: 300;
  text-decoration: none;
}

.section-21 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 2px solid #fffcea;
  border-radius: 20px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  margin-top: 12px;
  padding-top: 0;
  display: flex;
}

.section-22 {
  grid-column-gap: 10vh;
  grid-row-gap: 10vh;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 70%;
  margin-top: 8vh;
  display: flex;
}

.section-22.x {
  width: 10%;
  height: 10%;
  margin-top: 0;
}

.section-22.face {
  grid-column-gap: 15vh;
  grid-row-gap: 15vh;
  justify-content: flex-start;
  align-items: center;
  height: 65vh;
  margin-top: 0;
}

.section-23 {
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-right: 2vw;
  padding-top: 0;
  padding-bottom: 3vh;
  display: flex;
}

.section-24 {
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  background-color: #fffcea;
  border: 2px solid #30f;
  border-radius: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 65vh;
  padding-top: 7vh;
  padding-bottom: 1vw;
  display: flex;
}

.section-24.pend {
  height: 60vh;
}

.section-24.swiss {
  border-color: var(--_colors---blue);
  width: 45%;
  margin-left: 2vw;
}

.section-24.swiss.beta {
  grid-column-gap: 0%;
  grid-row-gap: 0%;
  background-color: #fffceade;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: auto;
  padding-top: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.image-13 {
  z-index: -10;
  width: 35vw;
  height: 80vh;
  margin-top: 250vh;
  transition: opacity .2s;
  position: absolute;
  top: -666px;
  left: -29px;
}

.image-13.face {
  width: 20vw;
  height: 20vh;
  position: static;
}

.section-25 {
  height: 3vh;
}

.section-26 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
  width: 95%;
  display: flex;
}

.image-14 {
  width: 40%;
}

.section-27 {
  background-image: url('../images/Screen-Shot-2024-09-18-at-11.13.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 70vh;
  display: block;
}

.section-27.beta {
  background-image: url('../images/blabla0.75x.png');
  background-position: 50%;
  background-size: cover;
  height: 90vh;
}

.section-27.swiss {
  background-image: url('../images/Screen-Shot-2024-09-18-at-11.13.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.section-27.collected {
  background-image: url('../images/cow.png');
  background-position: 100%;
  background-repeat: repeat-x;
  background-size: 35%;
}

.div-block-17 {
  border: 2px solid var(--_colors---red);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 16vw;
  display: flex;
}

.div-block-17.contact {
  border-color: var(--_colors---purple);
  width: 16vw;
  margin-left: 1vw;
}

.div-block-17.contact:hover {
  background-color: var(--_colors---purple);
}

.div-block-17.hello {
  border-color: var(--_colors---blue);
  color: #eeede4;
  width: 12vw;
  margin-top: 0;
  margin-left: 22px;
}

.div-block-17.hello:hover {
  color: #edece3;
  background-color: #3d06ec;
}

.div-block-17.about {
  border-width: 3px;
  border-color: var(--_colors---green);
  width: 12vw;
  margin-left: 4vw;
}

.div-block-17.about:hover {
  background-color: var(--_colors---green);
}

.div-block-17.works {
  border-color: var(--_colors---red);
  width: 13vw;
  margin-left: 0;
}

.div-block-17.works:hover {
  background-color: var(--_colors---red);
}

.container-19 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-29 {
  background-image: url('../images/bej.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60vw;
  height: 80vh;
  font-size: 100vh;
}

.section-30 {
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 0;
  display: flex;
}

.container-20 {
  border: 1px solid #30f;
  border-radius: 20px;
  padding: 20px;
}

.image-15 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.section-31 {
  z-index: 200;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 1vh 0 1vh 1vw;
  display: flex;
  position: sticky;
  top: 0;
}

.morework {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 9px;
  padding-left: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.heading-4 {
  color: var(--_colors---black);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 120%;
  font-weight: 400;
  line-height: 100%;
}

.heading-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.heading-5.m {
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  position: static;
  inset: 0%;
}

.heading-5.m.s {
  color: var(--_colors---red);
  font-size: 16px;
}

.heading-5.m.f {
  color: var(--_colors---background);
  text-transform: none;
  font-family: Hanken Grotesk, sans-serif;
  font-size: 50px;
}

.heading-5.l {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.heading-5.l.s {
  color: var(--_colors---red);
  font-size: 20px;
}

.heading-5.homo {
  color: var(--_colors---background);
  text-align: center;
  text-transform: none;
  text-underline-offset: 6px;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-family: Hanken Grotesk, sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  text-decoration-thickness: 2px;
  display: block;
  position: static;
  inset: 0% 0% auto;
}

.link-block-4 {
  color: #000;
  text-decoration: none;
}

.link-block-4.hey {
  border: 0 solid #000;
}

.container-21 {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.track {
  width: 400%;
  display: flex;
}

.section-32 {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: block;
}

.section-33 {
  background-color: var(--_colors---blue);
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 69%;
  height: 9vh;
  margin-top: 2vh;
  margin-left: 30vw;
  margin-right: 1vw;
  font-size: 14%;
  display: flex;
  position: relative;
  top: -104px;
}

.section-34 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding-top: 0;
  padding-right: 24px;
  display: flex;
  position: static;
}

.section-35 {
  justify-content: flex-end;
  align-items: flex-start;
  width: 100vw;
  margin-top: -27px;
  display: flex;
}

.mobile-nav {
  display: none;
}

.image-16 {
  aspect-ratio: 1;
  border-radius: 20px;
  height: 33%;
  padding: 0;
}

.container-23 {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin-top: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
}

.container-24 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/screen3.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  flex-flow: column;
  width: 100%;
  height: 35%;
  margin-top: 0;
  margin-left: 0;
  display: block;
}

.container-24:hover {
  background-image: url('../images/screen4.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.background-video-4 {
  width: 39%;
}

.lottie-animation {
  position: fixed;
}

.page-loader {
  z-index: 10000;
  background-color: red;
  width: 100vw;
  height: 100vw;
  position: fixed;
  inset: auto 0% 0% auto;
}

@media screen and (max-width: 991px) {
  .trak {
    height: auto;
  }

  .camera {
    width: auto;
    height: auto;
    overflow: visible;
  }

  .horizontal-scroll {
    flex-flow: column;
    height: auto;
  }

  .body-3 {
    background-color: var(--_colors---background);
  }

  .section-5 {
    background-color: #1803ff;
    border-radius: 20px;
    width: 95vw;
    height: 30vh;
    margin-top: 1vh;
    margin-left: 2.5vw;
    margin-right: 2.5vh;
  }

  .section-5.aboutsection.hedline.education.work.info.errow {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 1vw;
  }

  .section-5.aboutsection.hedline.education.work.info.errow.m {
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    margin-top: 0;
    padding-top: 0;
  }

  .section-5.workssection._1 {
    width: 86vw;
  }

  .section-5.workssection._2.beta, .section-5.workssection._2.pendulum, .section-5.workssection._2.swiss, .section-5.workssection._2.homonovus, .section-5.workssection._2.emotiontype, .section-5.workssection._2.collected, .section-5.workssection._2.canvas {
    width: 92vw;
  }

  .nav-menu-2 {
    background-color: #c8c8c800;
  }

  .navbar-2 {
    margin-top: 0;
    position: sticky;
    top: 0;
  }

  .text-block-2.white {
    font-size: 2rem;
  }

  .text-block-2.about.nums {
    width: 5vw;
  }

  .text-block-2.about.text.work-description {
    justify-content: center;
    align-items: flex-start;
    max-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1rem;
    line-height: 1.5rem;
    overflow: scroll;
  }

  .text-block-2.about.text.work-description.process.headline {
    padding-bottom: 0%;
  }

  .text-block-2.about.limit {
    padding-left: 21px;
  }

  .div-block-5 {
    background-color: var(--_colors---background);
  }

  .container-16 {
    height: auto;
    padding-top: 0;
  }

  .container-17.hagai {
    background-color: #fffcea00;
  }

  .body-5 {
    background-image: none;
  }

  .body-5.hagai {
    background-image: linear-gradient(#fffcea4d, #fffcea4d), url('../images/IMG_1240small0.3x.png');
    background-position: 0 0, 100%;
    background-repeat: repeat, no-repeat;
    background-size: auto, contain;
  }

  .div-block-16 {
    justify-content: center;
    align-items: center;
  }

  .navbar-4 {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 10vw;
    height: 100vh;
    display: none;
    position: static;
  }

  .nav-link-2, .nav-link-3, .nav-link-4 {
    display: block;
  }

  .hs-item {
    object-fit: cover;
    width: 80vw;
  }

  .section-22.face {
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
  }

  .section-23 {
    flex-flow: column;
    width: 100%;
  }

  .section-24 {
    width: 100%;
    height: auto;
  }

  .section-27.beta {
    background-image: url('../images/blabla0.75x.png');
    background-position: 0 0;
    background-size: cover;
    height: 80vh;
  }

  .image-15 {
    width: 80%;
  }

  .section-31 {
    justify-content: center;
    align-items: flex-start;
    padding-top: 2vh;
  }

  .heading-5 {
    padding-left: 10px;
  }

  .heading-5.m.b {
    display: none;
  }

  .section-33 {
    position: fixed;
    inset: 0% 0% auto;
  }

  .section-35 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 0;
    display: flex;
  }

  .mobile-nav {
    z-index: 300;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--_colors---background);
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 11vh;
    display: flex;
    position: sticky;
    top: 0;
  }

  .tabsection {
    border: 3px solid #000;
    border-radius: 20px;
    margin-top: 0;
    font-size: 28px;
    text-decoration: none;
  }

  .tabsection.hey {
    border-color: var(--_colors---blue);
  }

  .tabsection.about {
    border-color: var(--_colors---green);
    text-align: center;
  }

  .tabsection.about.w--current {
    border: 4px solid var(--_colors---green);
    border-radius: 20px;
    text-decoration: none;
  }

  .tabsection.works {
    border-color: var(--_colors---red);
    text-decoration: none;
  }

  .tabsection.works.w--current {
    margin-top: 0;
  }

  .tabsection.contact {
    border-color: var(--_colors---purple);
    text-align: center;
  }

  .text-block-4 {
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 19vw;
    height: 8vh;
    padding: 16px;
    text-decoration: none;
    display: flex;
  }

  .text-block-4.about {
    border-color: var(--_colors---green);
    text-align: center;
    height: 6vh;
  }
}

@media screen and (max-width: 767px) {
  .section-5 {
    height: 200vh;
  }

  .nav-menu-2 {
    flex-flow: row;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .heading-2 {
    padding-right: 14svw;
    font-size: 4vw;
    line-height: 4vw;
  }

  .trak {
    margin-top: -70px;
    padding-top: 0;
  }

  .horizontal-scroll {
    width: 90%;
    display: flex;
  }

  .item.swiss {
    width: 100%;
    height: auto;
  }

  .item.swiss.h {
    height: 30vh;
  }

  .text-span-2 {
    width: 100%;
    font-size: 6vw;
    line-height: 27px;
  }

  .body-3 {
    background-color: var(--_colors---background);
  }

  .section-5 {
    width: 98vw;
    height: auto;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .section-5.aboutsection.hedline {
    height: 13vh;
  }

  .section-5.aboutsection.hedline.education.work.info {
    width: 80%;
    padding-left: 14px;
    padding-right: 14px;
  }

  .section-5.aboutsection.hedline.education.work.info.name {
    padding-left: 0;
    padding-right: 0;
  }

  .section-5.aboutsection.hedline.education.work.info.name.mobile {
    width: 70%;
    display: flex;
  }

  .section-5.aboutsection.hedline.education.work.info.name.web {
    display: none;
  }

  .section-5.aboutsection.hedline.education.work.info.errow {
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 0;
  }

  .section-5.aboutsection.hedline.education.work.info.errow.m {
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-5.aboutsection.hedline.education.work.info.year {
    width: 20%;
  }

  .section-5.aboutsection.hedline.about-head-line {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .section-5.aboutsection.twin {
    width: 98vw;
    height: 35vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .section-5.workssection._1 {
    width: 86vw;
    padding-right: 40px;
  }

  .section-5.workssection._2.beta, .section-5.workssection._2.pendulum, .section-5.workssection._2.swiss, .section-5.workssection._2.homonovus {
    width: 93vw;
  }

  .section-5.workssection._2.emotiontype {
    width: 95vw;
  }

  .section-5.opening {
    background-color: #3c06ec00;
    height: 40vh;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 20vw;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }

  .nav-link.about {
    background-image: linear-gradient(#36492b, #d7f57a 90%, #c6e372 100%, #4e6337);
  }

  .nav-link.hello.w--current {
    flex: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .nav-menu-2 {
    flex-flow: column;
  }

  .navbar-2 {
    display: none;
  }

  .text-block-2.white {
    text-shadow: 0 1px 1px #0003;
    text-underline-offset: 3px;
    text-decoration: none;
    -webkit-text-decoration-color: var(--_colors---background);
    text-decoration-color: var(--_colors---background);
    height: auto;
    padding: 2vh 4vw;
    font-size: 1.3rem;
  }

  .text-block-2.work {
    font-size: 20px;
    line-height: 30px;
  }

  .text-block-2.work.description {
    font-size: 14px;
  }

  .text-block-2.about {
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0;
    line-height: 11vh;
  }

  .text-block-2.about.nums {
    border-width: 1.5px;
    width: 10vw;
    height: 2vh;
    padding-left: 0;
    font-size: 1.5vh;
  }

  .text-block-2.about.twin {
    width: 95%;
    font-size: 1.9vh;
    font-weight: 400;
    line-height: 2.6vh;
  }

  .text-block-2.about.twin.years {
    font-size: 1.7vh;
    font-weight: 400;
  }

  .text-block-2.about.twin._2 {
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 1.7vh;
    font-weight: 400;
    line-height: 2.6vh;
  }

  .text-block-2.about.text {
    font-size: 1.7vh;
    line-height: 3vh;
  }

  .text-block-2.about.text.work-description {
    padding-top: 1vh;
    padding-bottom: 3vh;
    padding-left: 0%;
    line-height: 3vh;
  }

  .text-block-2.about.text.work-description.process {
    justify-content: center;
    align-items: flex-start;
    padding-top: 2vh;
    padding-left: 0%;
    padding-right: 0%;
    line-height: 2.4vh;
  }

  .text-block-2.about.text.work-description.process.headline {
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5%;
  }

  .text-block-2.about.headline {
    font-family: Roboto, sans-serif;
    font-size: 3vw;
  }

  .text-block-2.about.workdata.white {
    padding: 106px;
  }

  .text-block-2.about.workdata.headline {
    display: block;
  }

  .text-block-2.about.location-and-more {
    font-size: 2vh;
  }

  .text-block-2.opening {
    border-width: 1.8px;
    border-radius: 35px;
    height: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .text-block-2.opening.blue {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .text-block-2.opening.hello {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .text-block-2.opening.and.my {
    padding: 2vh 5vw;
  }

  .navbar-3 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #eeede4;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 12vh;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    position: fixed;
    inset: auto 0% 0%;
  }

  .container-3 {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    position: static;
  }

  .div-block-5 {
    background-color: var(--_colors---background);
  }

  .div-block-12 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .link {
    padding-left: 6px;
    font-size: 4vw;
  }

  .button-3 {
    border-width: 1.5px;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 4vw;
  }

  .twin-section {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .container-16 {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 46px;
    padding-top: 0;
  }

  .container-17 {
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: auto;
  }

  .section-16.data {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    margin-top: 1vh;
  }

  .body-5 {
    background-image: none;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .body-5.hagai {
    background-image: linear-gradient(to bottom, null, null), url('../images/IMG_1240small0.3x.png');
    background-size: auto, cover;
  }

  .section-17 {
    width: 80vw;
    height: 9vh;
  }

  .link-block-3.w--current {
    width: 100%;
  }

  .div-block-15 {
    justify-content: center;
    align-items: center;
    height: 40%;
  }

  .div-block-16 {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 60%;
    display: flex;
  }

  .navbar-4 {
    display: none;
  }

  .hs-item {
    object-fit: cover;
    width: 90vw;
    height: auto;
    padding-bottom: 0;
  }

  .hs-item.homonovus {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .hs-item.beta.long {
    margin-bottom: 41px;
  }

  .section-18 {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .container-18 {
    display: none;
  }

  .just-errow {
    width: 20vw;
  }

  .section-21 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }

  .section-22.face {
    flex-flow: column;
    height: 11vh;
    margin-top: 0;
  }

  .section-23 {
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    flex-flow: column;
    padding-top: 1vh;
  }

  .section-24 {
    width: 90%;
    height: auto;
    padding-top: 3vh;
    padding-left: 2vh;
  }

  .section-24.swiss {
    background-color: #fffceae0;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5vw;
    padding: 4vh 1vw 0 7vw;
  }

  .section-26 {
    justify-content: flex-start;
    align-items: center;
  }

  .section-26.x {
    height: 200%;
  }

  .section-27 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .section-27.beta {
    background-position: 100% 100%;
    background-size: contain;
  }

  .section-27.swiss {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 70vh;
  }

  .section-29 {
    width: 100%;
    height: 50vh;
  }

  .section-30 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -70px;
  }

  .image-15 {
    display: none;
  }

  .section-31 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 11vh;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    position: sticky;
  }

  .heading-5 {
    padding-left: 0;
  }

  .heading-5.m {
    padding-left: 0;
    font-size: 20px;
  }

  .heading-5.m.f {
    line-height: 50px;
  }

  .heading-5.m.b {
    display: none;
  }

  .track {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .section-33 {
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 13vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding-left: 9px;
    padding-right: 8px;
  }

  .section-33.lm {
    height: 13vh;
  }

  .section-34 {
    display: none;
  }

  .div-block-18, .div-block-19, .div-block-20 {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .mobile-nav {
    z-index: 200;
    background-color: var(--_colors---background);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
    padding: 1vh .1vw .4vh;
    display: flex;
    position: sticky;
    top: 0;
  }

  .tabsection {
    border: 1.8px solid var(--_colors---blue);
    background-color: var(--_colors---background);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 90%;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    display: flex;
  }

  .tabsection.hey {
    color: var(--_colors---black);
  }

  .tabsection.hey:active {
    background-color: var(--_colors---blue);
    color: var(--_colors---background);
  }

  .tabsection.about {
    border-width: 3px;
    border-color: var(--_colors---green);
    color: var(--_colors---black);
    height: 70%;
  }

  .tabsection.about:active {
    background-color: var(--_colors---green);
    color: var(--_colors---background);
  }

  .tabsection.works {
    border-color: var(--_colors---red);
    color: var(--_colors---black);
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .tabsection.works:active {
    background-color: var(--_colors---red);
    color: var(--_colors---background);
  }

  .tabsection.contact {
    border-width: 2.1px;
    border-color: var(--_colors---purple);
    color: var(--_colors---black);
  }

  .tabsection.contact:active {
    background-color: var(--_colors---purple);
    color: var(--_colors---background);
  }

  .text-block-3 {
    font-size: 20%;
  }

  .link-block-5 {
    text-decoration: none;
  }

  .text-block-4 {
    font-size: 5vw;
  }
}

#w-node-c6215523-ca8b-b698-1aec-f5e09bebe885-627c3b8d {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}


