.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

img {
  box-sizing: border-box;
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

.container {
  color: #fff;
  min-width: auto;
  min-height: 90vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.body {
  clear: none;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #000dfc;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7px;
  padding-right: 7px;
  display: block;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  object-fit: contain;
  min-height: auto;
  font-family: Roboto, sans-serif;
  font-size: 3vw;
  font-weight: 400;
  text-decoration: none;
}

.quick-stack {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  aspect-ratio: 1;
  color: #0400fd;
  background-color: #0d00ff;
  border-radius: 0;
  width: 80vw;
  max-width: 80.8076%;
  height: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

.cell {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fffcea;
  border-radius: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  display: flex;
}

.cell:hover {
  opacity: 1;
  pointer-events: auto;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: #fffcea;
  background-clip: border-box;
}

.outer-container {
  background-color: #fffcea;
  min-width: 99vw;
  max-width: 1400px;
  min-height: 99vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.rive {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.div-block {
  color: #140cfc;
  background-color: #fffcea;
  justify-content: center;
  align-items: center;
  max-width: none;
  min-height: 0;
  max-height: 30vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.section-3 {
  height: 5px;
}

.heading-2 {
  text-transform: uppercase;
  margin-top: 87px;
  margin-bottom: 101px;
  padding-left: 48px;
  padding-right: 26vw;
  font-family: Roboto, sans-serif;
  font-size: 4svw;
  font-weight: 400;
  line-height: 5svw;
}

.div-block-2 {
  color: #140cfc;
  justify-content: center;
  align-items: center;
  min-height: 20vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-project-page {
  border: 2px solid #0800ff;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 35vw;
  display: flex;
}

.quick-stack-2 {
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 70px 10px 10px;
}

.heading-3 {
  outline-offset: 0px;
  color: #140cfc;
  text-transform: uppercase;
  outline: 3px #004d9c;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.paragraph {
  margin-top: 26px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 1vw;
  line-height: 25px;
}

.div-block-3 {
  background-color: #140cfc;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 30vw;
  height: 2px;
  max-height: 2px;
  display: block;
}

._2pichoverblank {
  z-index: auto;
  aspect-ratio: 4 / 4;
  width: 30%;
  height: auto;
  margin-top: -53px;
  margin-bottom: -53px;
  position: absolute;
  overflow: hidden;
}

._2pichoverblank.background {
  background-image: url('../images/1_3_11zon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

._2pichoverblank.swissbig {
  background-image: url('../images/IMG_5767.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

._1backblankwithanimation {
  aspect-ratio: 1;
  object-fit: fill;
  width: 60%;
  height: 90%;
  position: relative;
}

._1backblankwithanimation.lihipic {
  background-image: url('../images/lihiNoBack.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

._1backblankwithanimation.swiss-back {
  object-fit: fill;
  background-image: url('../images/IMG_5755small.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 80%;
}

.div-block-back-copy {
  aspect-ratio: 1;
  object-fit: fill;
  aspect-ratio: 1;
  object-fit: fill;
  background-image: url('../images/4_4_11zon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 90%;
  position: relative;
}

.picdivblock-copy {
  z-index: auto;
  aspect-ratio: 4 / 4;
  background-image: url('../images/pgOriShemer3.jpg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: auto;
  margin-top: -53px;
  margin-bottom: -53px;
  position: absolute;
  overflow: hidden;
}

.button {
  aspect-ratio: 1;
  object-fit: fill;
  background-color: #3898ec00;
  display: block;
  position: relative;
}

.link-block {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.spline-scene {
  cursor: grab;
}

.trak {
  color: #140cfc;
  height: 400vw;
  font-family: Roboto, sans-serif;
}

.camera {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: block;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.frame {
  flex: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  display: flex;
}

.item {
  flex: none;
  align-self: auto;
  width: 100vw;
  height: 100vh;
}

.image {
  object-fit: cover;
  height: 100%;
  padding: 44px;
  overflow: visible;
}

.body-2 {
  color: #140cfc;
  font-family: Roboto, sans-serif;
  display: block;
  overflow: visible;
}

.div-block-4 {
  background-color: #ff0c0c;
}

.image-2 {
  aspect-ratio: auto;
  object-fit: cover;
  height: 100%;
  font-size: 100vw;
  overflow: clip;
}

.blue {
  box-sizing: border-box;
  object-fit: contain;
  width: 10vw;
  margin-bottom: 45px;
  margin-right: 0;
  display: block;
  position: absolute;
  inset: auto auto 0% 0%;
  overflow: visible;
}

.text-block {
  object-fit: contain;
  width: auto;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 30vh;
  line-height: 0;
  position: absolute;
  inset: auto 0% 0%;
}

.letter, .h {
  display: inline;
}

.hey-there {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 17vw;
  margin: 0 auto;
  font-size: 23vh;
  font-weight: 400;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
  overflow: hidden;
}

.hey-there.movewithf {
  justify-content: flex-start;
  align-items: center;
  margin-right: 23vw;
  inset: auto auto 0% 0%;
}

.hey-there.movewithf.heyhey {
  padding-left: 15vw;
  font-size: 40vh;
}

.hey-there.movewithf.sq {
  justify-content: flex-start;
  align-items: center;
  margin-left: -5vw;
  font-size: 40vh;
  overflow: visible;
}

.hey-there.welcom {
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: center;
  width: 160vw;
  padding-left: 0;
  font-size: 40vh;
  display: flex;
  position: absolute;
  inset: auto -100vw 0% auto;
}

.hey-there.tomy {
  text-transform: uppercase;
  margin-left: 200vw;
  font-size: 40vh;
  right: -300vw;
  overflow: visible;
}

.hey-there.tomy.colorful {
  margin-left: 300vw;
}

.hey-there.color {
  margin-left: 250vw;
  font-size: 7vh;
  line-height: 50px;
}

.text-span {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  position: static;
}

.text-span-2 {
  width: 100%;
}

.text-span-3 {
  display: block;
  position: static;
}

.container-2 {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
}

.square {
  margin-bottom: -7px;
  font-size: 54vh;
}

.square.x {
  max-width: 10vw;
  max-height: 10vh;
  position: relative;
}

.welcom {
  position: absolute;
  inset: auto 0% 0% 105vw;
}

.welcom.hey-there {
  left: 0;
}

.image-3 {
  max-width: 10vh;
  max-height: 10vw;
}

@media screen and (max-width: 991px) {
  .trak {
    height: auto;
  }

  .camera {
    width: auto;
    height: auto;
    overflow: visible;
  }

  .frame {
    flex-flow: column;
    height: auto;
  }

  .image {
    height: 100%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    min-height: auto;
  }

  .heading-2 {
    padding-right: 14svw;
    font-size: 4vw;
    line-height: 4vw;
  }
}

#w-node-a2ea2fd9-c64a-2149-58ac-ec527abfc233-c974c63f {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-d4ed9244-a5ec-e0f9-fcdb-84ce2a463861-944128ea {
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-e7984152-df9b-70a1-37d3-b74e7eb7a521-944128ea {
  grid-row: span 7 / span 7;
}

#w-node-d4ed9244-a5ec-e0f9-fcdb-84ce2a463861-07333d35 {
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-e7984152-df9b-70a1-37d3-b74e7eb7a521-07333d35 {
  grid-row: span 7 / span 7;
}

#w-node-d4ed9244-a5ec-e0f9-fcdb-84ce2a463861-4fcf8987 {
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-e7984152-df9b-70a1-37d3-b74e7eb7a521-4fcf8987 {
  grid-row: span 7 / span 7;
}

#w-node-c6215523-ca8b-b698-1aec-f5e09bebe885-627c3b8d {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}


