.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.nav {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  color: #fff;
  min-width: 85vh;
  min-height: 50vw;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.body {
  clear: none;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  outline-offset: 0px;
  background-color: #000dfc;
  outline: 3px solid #0400ff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7px;
  padding-right: 7px;
  font-family: Inconsolata, monospace;
  display: block;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  min-height: auto;
  font-weight: 700;
  text-decoration: none;
}

.grid {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  opacity: 1;
  outline-offset: 0px;
  color: #000005;
  mix-blend-mode: normal;
  background-color: #ffffff2b;
  border: 3px solid #0015ff;
  border-radius: 0;
  outline: 3px #f80000;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  place-items: center;
  width: 1100px;
  height: 2400px;
  margin-left: auto;
  margin-right: auto;
}

.quick-stack {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  color: #0400fd;
  background-color: #0d00ff;
  border-radius: 0;
  width: 90vw;
  height: 180vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
}

.cell {
  background-color: #fffcea;
  transition: all .3s;
}

.cell:hover {
  pointer-events: auto;
  mix-blend-mode: normal;
  background-color: #140cfc;
}

.outer-container {
  background-color: #fffcea;
  min-width: 99vw;
  max-width: 1400px;
  min-height: 99vh;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #0d00ff;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 1100px;
  display: grid;
}

.container-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fffcea;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 500px;
  height: 400px;
  display: block;
}

.section {
  min-width: 99px;
  min-height: 99px;
}

#w-node-a2ea2fd9-c64a-2149-58ac-ec527abfc233-c974c63f {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
}


